<div class="sw-text sw-prose" data-component="text" data-prop="content" data-source="# The plan

Three things, in order:

1. Water the *garden*
2. Call the plumber
3. Read the [notes](/t/note)

Table: What each costs

| Thing | Cost |
|---|---|
| Plumber | 80 |
| Seeds | 6 |"><h2>The plan</h2>
<p>Three things, in order:</p>
<ol>
<li>Water the <em>garden</em></li>
<li>Call the plumber</li>
<li>Read the <a href="/t/note">notes</a></li>
</ol>
<table><caption>What each costs</caption>
<thead>
<tr>
<th>Thing</th>
<th>Cost</th>
</tr>
</thead>
<tbody>
<tr>
<td>Plumber</td>
<td>80</td>
</tr>
<tr>
<td>Seeds</td>
<td>6</td>
</tr>
</tbody>
</table>
</div>
